---
layout: default
#title: About
permalink: /
---

<div class="center">
	<h1 class="title"><span class="accent">G</span>enome <span class="accent">I</span>nformatics <span class="accent">S</span>ection</h1>
	<h4>Our section develops and applies computational methods for the analysis of massive genomics datasets, focusing on the challenges of genome sequencing and comparative genomics. We aim to improve such foundational processes and translate emerging genomic technologies into practice.</h4>

	<b><a href="{{ site.baseurl }}/jobs2019/">We are hiring! Click here for more info...</a></b>
</div>

{% if site.people %}
{% assign count = site.people.size %}
<div class="section">
{% include title-bar.html title="People" %}
<div class="see-all"><a href="{{ site.baseurl }}/people">see all members</a></div>
<div style="text-align: center;margin-top:15px;">
	{% include person-list-start.html %}
	{% for person in site.people %}
		{% unless person.alum %}
			{% include person-list-item.html index=forloop.index size=60 inits="yes" %}
		{% endunless %}
	{% endfor %}
	{% include person-list-end.html %}
</div>
</div>
{% endif %}

{% if site.data.publications %}
{% assign array = "" | split: "" %}
{% for pair in site.data.publications %}
	{% assign array = array | push: pair[1] %}
{% endfor %}
{% assign sorted = array | sort: "date" | reverse %}
{% assign count = site.data.publications.size %}
<div class="section">
{% include title-bar.html title="Publications" %}
{% include see-all.html name="publications" link="publications" count=count %}
{% for pub in sorted limit: site.data.settings.landing-pubs %}
	{% include publication.html pub=pub %}
{% endfor %}
</div>
{% endif %}

{% if site.data.settings.landing-software %}
  {% assign count = site.projects.size %}
  <div class="section">
  {% include title-bar.html title="Software" %}
  {% include see-all.html name="projects" link="projects" count=count %}
  {% for query in site.data.settings.landing-software %}
            {% for proj in site.projects %}
              {% unless proj.retired %}
                {% assign key = proj.title | downcase %}
		{% if key == query %}
	    	{% include project.html proj=proj %}
		{% endif %}
	      {% endunless %}
	    {% endfor %}
  {% endfor %}
</div>
{% endif %}

{% if site.posts.size > 0 %}
{% assign post = site.posts.first %}
{% assign count = site.posts.size %}
<div class="section">
{% include title-bar.html title="News" %}
{% include see-all.html name="news posts" link="news" count=count %}
{% for post in site.posts limit:site.data.settings.landing-news-posts %}
<div class="post">
      <div style="float:right;">
		{% include person-list-start.html %}
		{% for person in site.people %}
			{% assign key = person.title | downcase %}
			{% if post.authors contains key %}
				{% include person-list-item.html index=forloop.index size=40 inits='yes' %}
			{% endif %}
		{% endfor %}
		{% include person-list-end.html %}
	  </div>
      <h3 class="mainHeading">{{ post.title }}</h3>
	  <div style="color: gray;">{{ post.date | date: "%B %e, %Y" }}</div>
      {% if post.excerpt.size != post.content.size %}
      <div class="postBody excerpt">
      {% else %}
      <div class="postShort excerpt">
      {% endif %}
                {{ post.excerpt }}
      </div>
      {% if post.excerpt.size != post.content.size %}
      <div class="linkMore">
			<a href="{{ site.baseurl }}{{ post.url }}">{% include post-link-more.html %}</a>
      </div>
      {% endif %}

</div>
{% endfor %}
</div>
{% endif %}
