---
layout: default
#title: About
permalink: /
---

<div class="center">
	<h1>Maryland Bioinformatics Labs</h1>
	<div style="margin: 10px 0px 10px 0px;">
	<a href="https://www.genome.gov"><img class="logo" src="/img/nhgri.png"/></a>
	<a href="http://www.cbcb.umd.edu"><img class="logo" src="/img/umd.png"/></a>
	<a href="https://bnbi.org"><img class="logo" src="/img/nbacc.png"/></a>
	<a href="https://ccb.jhu.edu"><img class="logo" src="/img/jhu.png"/></a>
	</div>
</div>
<div style="text-align: center;">
MarBL is a partnership of bioinformatics researchers and developers across several
Maryland institutions, providing a common forum for collaboration and distribution.<br/><br/>
</div>

{% if site.posts %}
  {% assign post = site.posts.first %}
  {% assign count = site.posts.size %}
<h2 class="section">News</h2>
<div class="subheading">{% include item-count.html items=count %}</div>
<div class="container">
      <h3>{{ post.title }}</h3>

	  	{{ post.date | date: "%B %e, %Y" }}
      <div class="entry">
      {% if post.excerpt.size != post.content.size %}
      	<p>
			{{ post.excerpt | remove: '<p>' | remove: '</p>' }}
			<a href="{{ site.baseurl }}{{ post.url }}"> [ entire post ]</a>
        </p>
		{% else %}
		{{ post.content }}
	  {% endif %}
      </div>

	{% include see-all.html name="news posts" link="news" count=count %}
</div>
{% endif %}

{% if site.projects %}
  {% assign proj = site.projects.last %}
  {% assign count = site.projects.size %}
<h2 class="section">Software</h2>
<div class="subheading">{% include item-count.html items=count %}</div>
<div class="container">
      <h3><a href="{{ site.baseurl }}{{ proj.url }}">{{ proj.title }}</a></h3>
      {{ proj.desc }}

	{% include see-all.html name="projects" link="projects" count=count %}
</div>
{% endif %}

{% if site.publications %}
  {% assign pub = site.publications.last %}
  {% assign count = site.publications.size %}
<h2 class="section">Publications</h2>
<div class="subheading">{% include item-count.html items=count %}</div>
<div class="container">
    <article class="post">
      <h3>{{ pub.title }}</h3>
      <p>{{ pub.authors }}</p>
      {{ pub.date | date: "%B %e, %Y" }}<br>
      <a href="{{ post.text }}">Full text</a>
    </article>

	{% include see-all.html name="publications" link="publications" count=count %}
</div>
{% endif %}

