---
layout: default
#title: About
permalink: /

# how many projects to show
maxProjects: 1
---

<div class="center">
	<h1 class="title"><span class="accent">G</span>enome <span class="accent">I</span>nformatics <span class="accent">S</span>ection</h1>
</div>
<div style="text-align: center;">
	{% include parent-institute.html name="HHS" url="https://www.hhs.gov" logo="/img/hhs.png" %}
	<span style="color:gray;">&gt;</span>
	{% include parent-institute.html name="NIH" url="https://www.nih.gov" logo="/img/nih.png" %}
	<span style="color:gray;">&gt;</span>
	{% include parent-institute.html name="NHGRI" url="https://www.genome.gov" logo="/img/nhgri.png" %}
</div>

{% if site.posts %}
{% assign post = site.posts.first %}
{% assign count = site.posts.size %}
<div class="section">
{% include title-bar.html title="News" %}
{% include see-all.html name="news posts" link="news" count=count %}
{% for post in site.posts limit:site.data.settings.landing-news-posts %}
<div class="post">
      <div style="float:right;">
		{% include person-list-start.html %}
		{% for person in site.people %}
			{% assign key = person.title | downcase %}
			{% if post.authors contains key %}
				{% include person-list-item.html index=forloop.index size=40 inits='yes' %}
			{% endif %}
		{% endfor %}
		{% include person-list-end.html %}
	  </div>
      <h3 class="mainHeading">{{ post.title }}</h3>
	  <div style="color: gray;">{{ post.date | date: "%B %e, %Y" }}</div>
      <div class="postBody excerpt">
      {% if post.excerpt.size != post.content.size %}
			{{ post.excerpt }}
			<a href="{{ site.baseurl }}{{ post.url }}">{% include post-link-more.html %}</a>
		{% else %}
		{{ post.content }}
		<a href="{{ site.baseurl }}{{ post.url }}">{% include post-link.html %}</a>
	  {% endif %}
      </div>

</div>
{% endfor %}
</div>
{% endif %}

{% if site.data.settings.landing-software %}
{% assign count = site.projects.size %}
<div class="section">
{% include title-bar.html title="Software" %}
{% include see-all.html name="projects" link="projects" count=count %}

<!-- No hashes in Liquid so scan the whole list for each name to preserve order.
Inefficient, but doesn't matter (yet). -->

{% for query in site.data.settings.landing-software %}
	{% for proj in site.projects %}
		{% assign key = proj.title | downcase %}
		{% if key == query %}
		<div class=post>
			<h3 class="mainHeading" style="font-family: courier;">{{ proj.title }}</h3>
			<div class="postBody">
				{{ proj.desc }}<br/>
		        {% include project-links.html index=forloop.index %}
	        </div>
		</div>
		{% endif %}
    {% endfor %}
{% endfor %}
</div>
{% endif %}

{% if site.data.publications %}
{% assign array = "" | split: "" %}
{% for pair in site.data.publications %}
	{% assign array = array | push: pair[1] %}
{% endfor %}
{% assign sorted = array | sort: "date" %}
{% assign sorted = sorted | reverse %}
{% assign count = site.data.publications.size %}
<div class="section">
{% include title-bar.html title="Publications" %}
{% include see-all.html name="publications" link="publications" count=count %}
{% for pub in sorted limit: site.data.settings.landing-pubs %}
	{% include publication.html pub=pub %}
{% endfor %}
</div>
{% endif %}

{% if site.people %}
{% assign count = site.people.size %}
<div class="section">
{% include title-bar.html title="People" %}
<div class="see-all"><a href="{{ site.baseurl }}/people">see all {{ count }} people</a></div>
<div style="text-align: center;margin-top:15px;">
	{% include person-list-start.html %}
	{% for person in site.people limit:10 %}
		{% include person-list-item.html index=forloop.index size=60 inits="yes" %}
    {% endfor %}
    {% include person-list-end.html %}
</div>
</div>
{% endif %}

{% assign count = site.institutes.size %}
<div class="section">
{% include title-bar.html title="Partners" %}
<div class="see-all"><a href="{{ site.baseurl }}/labs">see all {{ count }} partners</a></div>
	<div class="center" style="margin: 10px 0px 10px 0px;">
	{% for inst in site.institutes %}
			<a style="" href="{{ inst.link }}">
			<div style="display:inline-block;">
				<div class="logo" style="background-image:url({{ inst.logo }});"></div>
				<div>{{ inst.inits }}</div>
			</div>
			</a>
	{% endfor %}
	</div>
</div>
