---
layout: default

---

<h1 class="page-name">News</h1>

{% include page-nav.html %}

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

	<div style="float:right;">
		{% include person-list-start.html %}
		{% for person in site.people %}
			{% assign key = person.title | downcase %}
			{% if post.authors contains key %}
				{% include person-list-item.html index=forloop.index size=40 %}
			{% endif %}
		{% endfor %}
		{% include person-list-end.html %}
	</div>
	
      <h2>{{ post.title }}</h2>

	  <div class="subheading">
	  	{{ post.date | date: "%B %e, %Y" }}
	  </div>
	  
      <div>
      {% if post.excerpt.size != post.content.size and post != site.posts.first %}
      	<div class="excerpt">
			{{ post.excerpt }}
		</div>
			<a href="{{ site.baseurl }}{{ post.url }}">{% include post-link-more.html %}</a>
		{% else %}
		{{ post.content }}
		<a href="{{ site.baseurl }}{{ post.url }}">{% include post-link.html %}</a>
	  {% endif %}
      </div>
    </article>
  {% endfor %}
</div>

{% include page-nav.html %}
