---
layout: default
title: People
---

<h1 class="page-name">People</h1>

{% assign alums=false %}

<div class="posts">
	{% for person in site.people %}
		{% if person.alum %}
			{% assign alums=true %}
		{% else %}
			{% include person-listing.html person=person %}
		{% endif %}
	{% endfor %}
</div>

{% if alums %}
<h1 class="page-name" style="margin-top:50px;">Alumni</h1>

<div class="posts">
	{% for person in site.people %}
		{% if person.alum %}
			{% include person-listing.html person=person %}
		{% endif %}
	{% endfor %}
</div>
{% endif %}
