---
layout: default
---

<h1 class="page-name">People</h1>

<div class="posts">
	{% for person in site.people %}
    <div class="person-listing">

		<a href="{{ site.baseurl }}{{ person.url }}">
			<div class="portrait-list" style="background-image:url({{ person.portrait }});"></div>
		</a>
			<div style="float:right;">
		{% for inst in site.institutes %}
			{% assign key = inst.title | downcase %}
			{% if person.institutes contains key %}
				<a href="{{ inst.link }}"><img class="logo-small" src="{{ inst.logo }}"/></a>
			{% endif %}
		{% endfor %}
			</div>

		<div class="post" style="margin-left: 10px; display: inline-block;vertical-align: top;">
			<h3 style="margin: 0;">{% include person-name.html name=person.name phd=person.phd %}</h3>
		
			<div style="color: gray;">
				{{ person.role }}
			</div>
			
			{% assign key = person.title | downcase %}
			{% assign separator = '' %}
			<div>
				{% for proj in site.projects %}
					{% if proj.people contains key %}
						{% if separator == 'yes' %}
							&middot;
						{% endif %}
						{% assign separator = 'yes' %}
						<span style="font-family: courier;">{{ proj.name }}</span>
					{% endif %}
				{% endfor %}
			</div>
			
			<a href="{{ site.baseurl }}{{ person.url }}">[ more ]</a>
		</div>
	</div>
	{% endfor %}
</div>
