{% assign proj = include.proj %}

<div>
      <h3 style="margin-bottom:0;font-family: courier;{% if proj.retired %}color: #AAAAAA;{% endif %}">{{ proj.name }}</h3>
      <div class="postBody">
        {% if proj.retired %}
	        <span style="color:#AAAAAA;">{{ proj.desc }}</span>
	        <span style="color:gray;"> [ <a href="{{ site.baseurl }}/retired">retired</a> ]</span>
        {% else %}
        	{{ proj.desc }}
        {% endif %}
        <br/>
        {% include project-links.html proj=proj %}
      </div>
</div>
