{% assign pub=include.pub %}

<!-- turn recognized authors into links -->
{% assign authors = pub.authors | split: ", " %}
{% assign authors-converted = "" | split: "" %}
{% for author in authors %}
	{% assign converted = author | replace: " ", "&nbsp;" %}
	{% for person in site.people %}
		{% for pub-name in person.pub-names %}
			{% if pub-name == author %}
				{% capture converted %}<a href="{{ site.baseurl }}{{ person.url }}">{{ author }}</a>{% endcapture %}
			{% endif %}
		{% endfor %}
	{% endfor %}
	{% assign authors-converted = authors-converted | push: converted %}
{% endfor %}

<article class="post">
	<h3 class="mainHeading" style="font-style: italic;">{{ pub.title }}</h3>
	<div style="color: gray;">{{ pub.journal }}, {{ pub.date | date: "%B %e, %Y" }}</div>
	<div class="postBody">
		{{ authors-converted | join: ", " }}
		<ul class=link-list>
			<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pub.pubmed }}">PubMed</a></li>
			<li><a href="{{ pub.text }}">Full text</a></li>
			<li><a href="{{ pub.preprint }}">Preprint</a></li>
		</ul>
	</div>
</article>
