{% assign pub=include.pub %}

<!-- turn recognized authors into links -->
{% assign authors = pub.authors | split: ", " %}
{% assign limit = false %}
{% if authors.size > site.data.settings.pub-author-limit %}
	{% assign limit = true %}
{% endif %}

{% assign string = '' %}
{% for author in authors %}
	{% assign converted = author | replace: " ", "&nbsp;" %}
	{% if limit and site.data['indecesByNames'][author] == nil and forloop.index != 1 and forloop.index != authors.size %}
		{% if skipped == false %}
			{% assign string = string | append: " &hellip; " %}
		{% endif %}
		{% assign skipped = true %}
	{% else %}
		{% if skipped == false and forloop.index != 1 %}
			{% assign string = string | append: ", " %}
		{% endif %}
		{% assign skipped = false %}
		{% if site.data['indecesByNames'][author] %}
			{% assign index = site.data['indecesByNames'][author] %}
			{% capture link %}<a href="{{ site.baseurl }}{{ site.people[index].url }}">{{ converted }}</a>{% endcapture %}
			{% assign string = string | append: link %}
		{% else %}
			{% assign string = string | append: converted %}
		{% endif %}
	{% endif %}
	{% assign authors-converted = authors-converted | push: converted %}
{% endfor %}

<article class="post" style="margin-top:15px;">
	<span class="pub-title">{{ pub.title }}</span>
	<div style="margin-left:15px">
		<span class="pub-journal">{{ pub.journal }},</span> <span class="pub-date">{{ pub.date | date: "%B %e, %Y" }}</span>
		<ul class="link-list">
			{% if pub.pubmed %}
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pub.pubmed }}">PubMed</a></li>
			{% endif %}
			{% if pub.text %}
				<li><a href="{{ pub.text }}">Full text</a></li>
			{% endif %}
		</ul>
		<div class="postBody">
			{{ site.data['test'] }}
			<span class="pub-authors">{{ string }}</span>
		</div>
	</div>
</article>
