{% assign pub=include.pub %}

<!-- remove period from end of authors -->
{% assign lastChar = pub.authors | slice: -1 %}
{% if lastChar == "." %}
	{% assign sizeNew = pub.authors.size | minus: 1 %}
	{% assign authorsTrimmed = pub.authors | slice: 0, sizeNew %}
{% else %}
	{% assign authorsTrimmed = pub.authors %}
{% endif %}

<!-- turn recognized authors into links -->
{% assign authors = authorsTrimmed | split: ", " %}
{% assign limit = false %}
{% if authors.size > site.data.settings.pub-author-limit %}
	{% assign limit = true %}
{% endif %}

{% assign pasted = authors | join: ':' %}
{% assign pasted = pasted | prepend: ':' %}
{% assign pasted = pasted | append: ':' %}

{% for person in site.people %}
	{% for pub-name in person.pub-names %}
		{% capture link %}:<a href="{{ site.baseurl }}{{ person.url }}">{{ pub-name | replace: " ", "&nbsp;" }}</a>:{% endcapture %}
		{% assign key = ':' | append: pub-name | append: ':' %}
		{% assign pasted = pasted | replace: key, link %}
	{% endfor %}
{% endfor %}

{% assign pasted = pasted | slice: 1, pasted.size - 2 %}
{% assign authors = pasted | split: ':' %}
{% assign string = '' %}

{% for author in authors %}
	{% if limit == false or author contains '<' or forloop.index == 1 or forloop.index == authors.size %}
		{% if skipped == false and forloop.index != 1 %}
			{% assign string = string | append: ", " %}
		{% endif %}
		{% assign skipped = false %}
		{% unless author contains '<' %}
			{% assign author = author | replace: " ", "&nbsp;" %}
		{% endunless %}
		{% assign string = string | append: author %}
	{% else %}
		{% if skipped == false %}
			{% assign string = string | append: " &hellip; " %}
		{% endif %}
		{% assign skipped = true %}
	{% endif %}
{% endfor %}

<!-- remove period from end of title -->
{% assign lastChar = pub.title | slice: -1 %}
{% if lastChar == "." %}
	{% assign sizeNew = pub.title.size | minus: 1 %}
	{% assign titleTrimmed = pub.title | slice: 0, sizeNew %}
{% else %}
	{% assign titleTrimmed = pub.title %}
{% endif %}

<article class="post" style="margin-top:15px;">
	<span class="pub-title">{{ titleTrimmed }}</span>
	<div style="margin-left:15px">
		<span class="pub-journal">{{ pub.journal }},</span> <span class="pub-date">{{ pub.date | date: "%B %e, %Y" }}</span>
		<ul class="link-list">
			{% if pub.pubmed %}
				<li><a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ pub.pubmed }}">PubMed</a></li>
			{% endif %}
			{% if pub.text %}
				<li><a href="{{ pub.text }}">Full text</a></li>
			{% endif %}
		</ul>
		<div class="postBody">
			{{ site.data['test'] }}
			<span class="pub-authors">{{ string }}</span>
		</div>
	</div>
</article>
