<div style="display:table;width:100%;">
  <div style="display:table-row;height:100%;">
    <div style="display:table-cell;width: 50%;height:100%;position:relative;">
      <div style="position:absolute;width:100%;top:50%;border-bottom: 1px solid lightGray;"></div>
    </div>
    <div class="sectionTitle" style="display:table-cell;padding-left:5px;padding-right: 5px;">
      {{ include.title }}
    </div>
    <div style="display:table-cell;width: 50%;height:100%;position:relative;">
      <div style="position:absolute;width:100%;top:50%;border-bottom: 1px solid lightGray;"></div>
    </div>
  </div>
</div>
