---
layout: default
---

<h1 class="page-name">Collaborators</h1>

<div class="posts">
	{% for inst in site.institutes %}
    <div class="person-listing" style="display:table">

		<div class="post" style="display: table-cell;vertical-align: top;">
			<h2 style="margin: 0;"><a href="{{ inst.link }}">{{ inst.inits }}</a></h2>
		
			<div style="color: gray;">
				{{ inst.name }}
			</div>
			<div style="margin-top:10px;">
			{% assign key = inst.title | downcase %}
			{% include person-list-start.html %}
			{% for p in site.people %}
				{% if p.institutes contains key %}
					{% include person-list-item.html url=p.url portrait=p.portrait name=p.name size=40 inits='yes' %}
				{% endif %}
			{% endfor %}
			{% include person-list-end.html %}
			</div>
		</div>		
		<div style="display:table-cell;width: 1%;">
		<a href="{{ inst.link }}">
			<div class="logo-list" style="background-image:url({{ inst.logo }});"></div>
		</a>
		</div>
	</div>
	{% endfor %}
</div>
