---
layout: default
---

<h1 class="page-name">Publications with {% include person-name.html name=page.name degree=page.degree %}</h1>
<h3 style="text-align: right; margin: 0 0 10px 0;">{{ page.role }}</h3>
<div style="float:right;">
	{% for inst in site.institutes %}
		{% assign key = inst.title | downcase %}
		{% if page.institutes contains key %}
			<div style="text-align:right;margin-bottom: 10px;">
				<a style="" href="{{ inst.link }}">
				<div>
				<a href="{{ inst.link }}">
					{{ inst.inits }}<br/>
					<div class="logo-small" style="background-image:url({{ inst.logo }});"></div>
				</a>
				</div>
				</a>
			</div>
		{% endif %}
	{% endfor %}
</div>
<div style="display: inline; margin: 0;">
	<div style="background-image:url({{ page.portrait }}); " class="portrait" src=""></div>
</div>
<div style="text-align: center; margin-top: 15px;">
	<div class="see-all"><a href="{{ site.baseurl }}/people/{{ page.title | downcase }}">see entire profile</a></div>
</div>

<!-- collect publications -->
{% assign array = "" | split: "" %}
{% for pair in site.data.publications %}
	{% assign pub = pair[1] %}
	{% assign authors = pub.authors | split: ", " %}
	{% for pub-name in page.pub-names %}
		{% if authors contains pub-name %}
			{% assign array = array | push: pair[1] %}
		{% endif %}
	{% endfor %}
{% endfor %}

{% if array.size > 0 %}
{% assign sorted = array | sort: "date" %}
{% for pub in sorted reversed %}
	{% include publication.html pub=pub %}
{% endfor %}
{% endif %}
