---
layout: default
---

<h1 class="page-name">{% include person-name.html name=page.name phd=page.phd %}</h1>
<h3 style="text-align: right; margin: 0 0 10px 0;">{{ page.role }}</h3>
<div style="float:right;">
	{% for inst in site.institutes %}
		{% assign key = inst.title | downcase %}
		{% if page.institutes contains key %}
			<div style="text-align:right;margin-bottom: 10px;">
				<a style="" href="{{ inst.link }}">
				<div>
				<a href="{{ inst.link }}">
					{{ inst.inits }}<br/>
					<div class="logo-small" style="background-image:url({{ inst.logo }});"></div>
				</a>
				</div>
				</a>
			</div>
		{% endif %}
	{% endfor %}
</div>
<div style="display: inline; margin: 0;">
	<div style="background-image:url({{ page.portrait }}); " class="portrait" src=""></div>
</div>
<div style="text-align: center; margin-top: 15px;">
{% if page.email %}
	{% include email.html email=page.email size=14 %}
{% endif %}
</div>
<p>
	{{ page.bio }}
</p>

<!-- collect projects -->
{% assign key = page.title | downcase %}
{% assign array = "" | split: "" %}
{% for proj in site.projects %}
	{% if proj.people contains key %}
		{% assign array = array | push: proj %}
	{% endif %}
{% endfor %}

{% if array.size > 0 %}
<div class="section">
	{% include title-bar.html title="Projects" %}
	{% if array.size > site.data.settings.person-page-projects %}
		<div class="see-all"><a href="{{ site.baseurl }}/person-projects/{{ key }}">see all {{ array.size }} projects for {{ page.name }}</a></div>
	{% endif %}
	{% for proj in array limit: site.data.settings.person-page-projects %}
		<div class="post">
			<h3 class="mainHeading" style="font-family: courier;">{{ proj.name }}</h3>
			<div class="postBody">
				{{ proj.desc }}<br/>
		        {% include project-links.html index=forloop.index %}
	        </div>
		</div>
    {% endfor %}
</div>
{% endif %}

<!-- collect news posts -->
{% assign key = page.title | downcase %}
{% assign array = "" | split: "" %}
{% for post in site.posts %}
	{% if post.authors contains key %}
		{% assign array = array | push: post %}
	{% endif %}
{% endfor %}

{% if array.size > 0 %}
<div class="section">
	{% include title-bar.html title="News&nbsp;posts" %}
	{% if array.size > site.data.settings.person-page-posts %}
		<div class="see-all"><a href="{{ site.baseurl }}/person-posts/{{ key }}">see all {{ array.size }} posts by {{ page.name }}</a></div>
	{% endif %}
	<ul style="margin-top: 15px;">
	{% for post in array limit: site.data.settings.person-page-posts %}
		<li><h3 style="margin:0;"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> - <span style="color:gray;">{{ post.date | date: "%B %e, %Y" }}</span></h3></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

<!-- collect publications -->
{% assign array = "" | split: "" %}
{% for pair in site.data.publications %}
	{% assign pub = pair[1] %}
	{% assign authors = pub.authors | split: ", " %}
	{% if authors contains page.pub-name %}
		{% assign array = array | push: pair[1] %}
	{% endif %}
{% endfor %}

{% if array.size > 0 %}
<div class="section">
{% include title-bar.html title="Publications" %}
{% if array.size > site.data.settings.person-page-pubs %}
	<div class="see-all"><a href="{{ site.baseurl }}/person-publications/{{ key }}">see all {{ array.size }} publications with {{ page.name }}</a></div>
{% endif %}
{% assign sorted = array | sort: "date" %}
{% for pub in sorted reversed limit: site.data.settings.person-page-pubs %}
	{% include publication.html pub=pub %}
{% endfor %}
</div>
{% endif %}