---
layout: default
---

<h1 class="page-name">News posts by {% include person-name.html name=page.name degree=page.degree %}</h1>
<h3 style="text-align: right; margin: 0 0 10px 0;">{{ page.role }}</h3>
<div style="float:right;">
	{% for inst in site.institutes %}
		{% assign key = inst.title | downcase %}
		{% if page.institutes contains key %}
			<div style="text-align:right;margin-bottom: 10px;">
				<a style="" href="{{ inst.link }}">
				<div>
				<a href="{{ inst.link }}">
					{{ inst.inits }}<br/>
					<div class="logo-small" style="background-image:url({{ inst.logo }});"></div>
				</a>
				</div>
				</a>
			</div>
		{% endif %}
	{% endfor %}
</div>
<div style="display: inline; margin: 0;">
	<div style="background-image:url({{ page.portrait }}); " class="portrait" src=""></div>
</div>
<div style="text-align: center; margin-top: 15px;">
	<div class="see-all"><a href="{{ site.baseurl }}/people/{{ page.title | downcase }}">see entire profile</a></div>
</div>

<!-- count news posts -->
{% assign key = page.title | downcase %}
{% assign count = 0 %}
{% for post in site.posts %}
	{% if post.authors contains key %}
		{% assign count = count | plus: 1 %}
	{% endif %}
{% endfor %}

{% if count > 0 %}
<div class="section">
	{% for post in site.posts %}
		{% if post.authors contains key %}
			<h3 class="post-list"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
			<span style="color:gray;">{{ post.date | date: "%B %e, %Y" }}</span>
		{% endif %}
	{% endfor %}
</div>
{% endif %}
